name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # Récupérer le code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Installer Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      # Installer les dépendances pour quiz-api
      - name: Install dependencies (quiz-api)
        working-directory: quiz-api
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Lancer les tests pour quiz-api
      - name: Run tests (quiz-api)
        working-directory: quiz-api
        run: python -m pytest