name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install dependencies
        run: cd quiz-api
            python -m pip install --upgrade pip
            python -m pip install -r requirements.txt
      - name: Run tests
        run: cd quiz-api
            python -m pytest
